<section>
  <section>
    <div class="grid grid-cols-7 gap-0 mb-6">
      <% @schedule.schedule_days.each do |schedule_day| %>
        <% date_string = schedule_day.day.by_example("2006-01-02") %>
        <section class="column">
          <div class="text-center">
            <%= schedule_day.day.by_example("Jan 2") %>
          </div>
        </section>
      <% end %>
      <div>
        Show All
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-4/5">
        <%= text_field_tag("query", "",
              placeholder: "Search concerts", type: "search",
              id: "search_query",
              class: "w-full px-3 py-2 border border-gray-400 rounded-lg") %>
      </div>
    </div>
  </section>
  <br>
  <% if @user %>
    <%= render "favorites/list", user: @user %>
  <% end %>
  <section>
    <% @schedule.schedule_days.each do |schedule_day| %>
      <% date_string = schedule_day.day.by_example("2006-01-02") %>
      <section class="day-body"
               id="day-body-<%= schedule_day.day_string %>">
        <%= render schedule_day, show: !schedule_day.hidden, user: @user %>
      </section>
      <br>
    <% end %>
  </section>
</section>
