<%= turbo_stream_from(@user, :favorites) %>
<style>
  <% @schedule.schedule_days.each do |schedule_day| %>
    <% today = "data-#{schedule_day.day.by_example("2006-01-02")}" %>
    .concert[<%= today %>]:first-child::before,
    .concert:not([<%= today %>]) + [<%= today %>]::before
    {
        content: "<%= schedule_day.day.by_example("Monday, January 2, 2006") %>";
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }
  <% end %>
</style>
<section>
  <section>
    <div class="grid grid-cols-7 gap-0 mb-6">
      <% @schedule.schedule_days.each do |schedule_day| %>
        <% date_string = schedule_day.day.by_example("2006-01-02") %>
        <section class="column">
          <div class="text-center">
            <%= schedule_day.day.by_example("Jan 2") %>
          </div>
        </section>
      <% end %>
      <div>
        Show All
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-4/5">
        <%= text_field_tag("query", "",
              placeholder: "Search concerts", type: "search",
              id: "search_query",
              class: "w-full px-3 py-2 border border-gray-400 rounded-lg") %>
      </div>
    </div>
  </section>
  <br>
  <% if @user %>
    <%= render "favorites/list", user: @user %>
  <% end %>
  <section data-controller="sort">
    <% @concerts.sort_by(&:start_time).each do |concert| %>
      <%= render concert, user: @user %>
    <% end %>
  </section>
</section>
