<p id="notice"><%= notice %></p>

<p>
  <strong>Concert:</strong>
  <%= @ticket.concert_id %>
</p>

<p>
  <strong>Row:</strong>
  <%= @ticket.row %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Ticket order:</strong>
  <%= @ticket.ticket_order_id %>
</p>

<p>
  <strong>Shopping cart:</strong>
  <%= @ticket.shopping_cart_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
