<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <div class="text-2xl text-white font-bold">
            <%= link_to("NorthBy", root_path) %>
          </div>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <% if current_user %>
              <div class="text-gray-300 px-3 py-2 text-sm font-bold">
                Welcome, <%= current_user.full_name %>!
              </div>
              <%= link_to "Log out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"  %>
            <% else %>
              <%= link_to "Sign Up",
                    new_user_registration_path,
                    class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"  %>
              <%= link_to "Log in",
                    new_user_session_path,
                    class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
